<footer class="site-footer" >
    <div class="site-info container">
        <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org" target="_blank">Ghost</a>. The theme is <a href="https://github.com/jacklund/Ghostless-plus" target="_blank">Ghostless-plus</a>, a theme based on <a href="http://stefanleonte.com/ghostless-free-ghost-theme/" rel="designer" target="_blank">Ghostless</a>.</section>
    </div>
</footer>
