<footer class="site-footer" >
    <div class="site-info container">
        <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org" target="_blank">Ghost</a>. <a href="http://stefanleonte.com/ghostless-free-ghost-theme/" rel="designer" target="_blank">Ghostless</a> is a free Ghost theme based on <a href="http://lessmade.com/themes/less" rel="theme" target="_blank">LESS</a>.</section>
    </div>
</footer>
